/* Global Styles */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #fff8e6;
}

/* Navbar */
.navbar {
  background-color: white;
  width: auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.navbar .logo {
  height: 40px;
  margin-left: 70px;
}

/* Container */
.container {
  max-width: 450px;
  background-color: white;
  margin: 20px auto;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 0.5rem;
}

/* Form Headings */
.heading {
  height: 25px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #222325;
  text-align: center;
}

.subheading {
  margin-top: auto;
  font-size: 1rem;
  color: #333333ad;
  text-align: center;
  margin-bottom: 1.8rem;
}

/* Labels */
.label-login {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: #222325;
  display: block;
  margin-bottom: 0.5rem;
}
.label-regis {
  font-size: 1rem;
  font-weight: 500;
  color: #222325;
  display: block;
  margin-bottom: 0.5rem;
}

.label-login::after,
.label-regis::after {
  content: "*";
  color: red;
  margin-left: 0.25rem;
}

/* Inputs */
.input {
  width: 96%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  transition: border-color 0.2s;
}

/* Phone Group */
.phone-group {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
}

/* Phone Select */
.phone-select {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 45px; /* Tinggi elemen */
  width: 120px; /* Lebar dropdown */
  overflow: hidden; /* Hilangkan elemen yang keluar */
  background-color: white;
}

/* Bendera */
.phone-select .flag {
  height: 25px;
  margin-left: 10px;
}

/* Dropdown Kode Negara */
.phone-select .select-country {
  width: 100%; /* Lebar penuh */
  height: 100%; /* Tinggi penuh */
  border: none;
  outline: none;
  appearance: auto; /* Hilangkan tampilan browser */
  padding: 1rem; /* Hindari menabrak bendera */
  background-color: white; /* Transparan agar bendera terlihat */
  cursor: pointer;
}

/* Input Nomor HP */
.phone-input {
  flex: 1;
  height: 28px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

/* Forgot Password */
.forgot-password {
  text-align: right;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.forgot-password a {
  color: #4a505c;
  text-decoration: none;
  font-size: 0.875rem;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Buttons */
.button-selengkapnya,
.button-daftar,
.button-masuk {
  display: block;
  text-align: center;
  width: 95%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}
.button-selengkapnya {
  display: block;
  text-align: center;
  margin: auto;
  width: 54%;
  padding: 0.75rem;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

.button-selengkapnya,
.button-daftar {
  background-color: #3ecf4c;
  color: white;
  margin-bottom: 1rem;
}

.button-daftar:hover {
  background-color: #34b944;
}

.button-masuk {
  background-color: #e2fcd9cc;
  color: #3ecf4c;
  margin-bottom: 1rem;
}

.button-masuk:hover {
  background-color: #d4f4c9;
}

/* Divider */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1rem 0;
  color: #666;
  font-size: 0.875rem;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-top: 1px solid #ddd;
}

.divider::before {
  margin-right: 0.5rem;
}

.divider::after {
  margin-left: 0.5rem;
}

/* Google Button */
.button-google {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.75rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-google:hover {
  background-color: #f7f7f7;
}

.google-icon {
  height: 20px;
  width: 20px;
  margin-right: 0.5rem;
}

/*Beranda*/
.kategori {
  margin-left: 55%;
  height: 20px;
  font-size: 1rem;
  text-align: center;
  border-color: transparent;
}

.profil {
  padding-left: 1.5rem;
  width: 44px;
}

.parent-container {
  display: flex; /* Aktifkan Flexbox */
  justify-content: center; /* Rata tengah horizontal */
  align-items: center; /* Rata tengah vertikal */
  position: relative;
}

.image-container {
  width: 1220px; /* Atur ukuran sesuai kebutuhan */
  height: 400px;
  margin-top: 20px;
  overflow: hidden; /* Hindari elemen keluar */
  border-radius: 10px; /* Opsional, jika ingin sudut membulat */
  position: relative;
}

.image-container img {
  width: 100%; /* Gambar memenuhi lebar container */
  height: 100%; /* Gambar memenuhi tinggi container */
  object-fit: cover; /* Menyesuaikan ukuran gambar agar sesuai dengan kontainer */
  filter: blur(5px); /* Efek blur pada gambar */
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Overlay hitam dengan transparansi */
  z-index: 1; /* Pastikan overlay berada di atas gambar */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; /* Pastikan konten di atas overlay */
  color: white;
}

.content h {
  font-size: 48px;
  margin-bottom: 0.5rem;
  font-weight: bold;
  letter-spacing: -3px;
}

.content p {
  font-size: 16px;
  word-spacing: 3px;
}

/* Kontainer utama */
.parent-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container2 {
  width: 1220px;
  height: 400px;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.image-container2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
}

.image-container2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Konten di atas gambar */
.content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
}

.content2 h {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.content2 h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.content2 p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Form Newsletter */
.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group {
  display: flex;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.input-group input {
  flex: 1;
  padding: 13px;
  font-size: 14px;
  border: none;
  outline: none;
}

.input-group button {
  padding: 10px 20px;
  background-color: #ffa500;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #e69500;
}

h1 {
  margin-top: 20px;
  font-size: 30px;
  margin-left: 20px;
}

p1 {
  position: relative;
  font-size: 16px;
  bottom: 15px;
  margin-left: 20px;
  margin-top: 40px;
  color: rgba(51, 51, 51, 0.68);
}

.kelas {
  display: flex;
  margin-left: -20px;
  margin-top: -5px;
}

.kelas ul {
  list-style: none;
}

.kelas ul a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.68);
}

.card-conteiner {
  display: flex;
  justify-content: left;
  margin-top: -14px;
  flex-wrap: wrap; /* Pastikan kartu tidak membungkus ke bawah */
  align-items: flex-start;
  padding: 5px;
  gap: 5px;
}

/* Card utama */
.card {
  width: 358px;
  height: 360px; /* Perbaiki spasi ekstra pada "px" */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 15px;
  margin: 10px;
}

/* Gambar card */
.image-card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover; /* Menyesuaikan gambar ke dalam card */
  display: block;
}

/* Konten card */
.card-content {
  padding: center;
}

.card-content h2 {
  margin-top: 0.3rem;
  margin-left: 2px;
  font-size: 18px;
}

.card-content p2 {
  display: flex;
  margin-top: -8px;
  margin-left: 2px;
  font-size: 16px;
  color: #333333ad;
}

/* Avatar dan informasi instruktur */
.avatar-card img {
  width: 40px;
  height: 40px;
  align-items: left;
  margin-top: 15px;
  object-fit: cover;
  border-radius: 10px;
}

.mentor {
  display: relative;
  align-items: center;
  padding-left: 3rem;
  margin-top: -42px;
  font-size: 16px;
  font-weight: bold;
}

.job-title {
  display: flex;
  margin: 0;
  font-size: 14px;
  color: #555;
  align-items: center;
  margin-left: 49px;
  margin-top: -15px;
}
p4 {
  padding: 0.5rem;
}
.checked {
  display: flex;
  align-items: right;
  margin-top: 15px;
  color: #f4c150;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #3ecf4c;
  text-align: right;
  margin-right: 10px;
  margin-top: -20px;
}

/*footer*/
.footer {
  width: auto;
  margin-top: 30px;
  padding: 60px 120px;
  background-color: #f9f9f9;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  max-width: 1110px;
  margin: 0 auto;
}

.footer-brand {
  flex: 1;
}

.footer-brand img {
  width: 204px;
  height: 56px;
  margin-left: -18px;
}

.footer-brand p {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}
.footer-brand address {
  margin: 10px 0;
  font-size: 14px;
  color: #333333ad;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex: 2;
  justify-content: flex-end;
}

.footer-column h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #333333ad;
}

.footer-bottom {
  display: flex;
  align-items: center; /* Pusatkan vertikal */
  justify-content: space-between; /* Jarak sama rata antara elemen */
  max-width: 1110px; /* Sama dengan kontainer utama */
  margin: 20px auto 0; /* Rata tengah dan beri jarak atas */
  padding-top: 20px;
  border-top: 2px solid #ccc; /* Garis horizontal */
}

.footer-bottom p {
  font-size: 14px;
  color: #888;
  margin: 0; /* Hilangkan margin default */
}

.social-icons {
  display: flex;
  gap: 10px; /* Jarak antar ikon */
}

.social-icons img {
  width: 24px;
  height: 24px;
}

/* Tambahkan Media Query untuk Responsivitas */

/* Ukuran layar kecil (smartphone) */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .navbar .logo {
    margin-left: 0;
  }

  .container {
    max-width: 90%;
    margin: 10px auto;
    padding: 20px;
  }

  .image-container,
  .image-container2 {
    width: 100%;
    height: 250px;
  }

  .content h {
    font-size: 1.5rem;
    letter-spacing: -1px;
  }

  .content p {
    font-size: 0.875rem;
  }

  .content2 h2 {
    font-size: 1.5rem;
  }

  .content2 p {
    font-size: 0.875rem;
  }

  .input-group {
    flex-direction: column;
    width: 100%;
  }

  .input-group input {
    width: 100%;
    margin-bottom: 10px;
  }

  .input-group button {
    width: 100%;
  }

  .card {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-brand,
  .footer-links {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}

/* Ukuran layar sedang (tablet) */
@media (min-width: 768px) {
  .navbar {
    padding: 0.5rem 1rem;
  }

  .image-container,
  .image-container2 {
    width: 100%;
    height: 300px;
  }

  .card-conteiner {
    justify-content: space-around;
  }

  .card {
    width: 45%;
  }

  .footer-container {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* Ukuran layar besar (desktop) */
@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .image-container,
  .image-container2 {
    width: 1220px;
    height: 400px;
  }

  .card {
    width: 358px;
  }

  .footer-container {
    justify-content: space-between;
  }
}
